
  /* Align the new button to the right and add spacing */
  .schedule-btn-wrapper {
    margin-top: 20px; /* Space between buttons */
    text-align: right; /* Aligns the button to the right */
  }

  .schedule-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .schedule-btn:hover {
    background-color: #0056b3;
  }
